@font-face{
	font-family: 'MyFont';
	src: url('./CARTOON FREE.otf'),
	     url('./CARTOON FREE.ttf');
	font-weight: 600;
	font-style: normal;
}

.hello{
	color: red;
	font-family: 'MyFont';
	background: url('./wz.png');
}